 /*------------- Whole Document---------------- */
body {
  font-family: "Avenir Next", sans-serif;
  font-size: 14px;
}

.caption {
  font-family: "Times New Roman", Times, serif;
  font-size: 10pt; /* Adjust size as needed */
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Futura", sans-serif;
}

h1 {
  font-size: 24pt; /* Adjust size as needed */
}

h2 {
  font-size: 18pt; /* Adjust size as needed */
}

h3 {
  font-size: 14pt; /* Adjust size as needed */
}
/* Add rules for h4, h5, h6 if necessary */